.box{
background-color: aqua;
height: 150px;
width: 150px;
margin: 20px;
display: flex;   
justify-content: center;   
align-items: center; 
}
.box:hover{
background-color: rgb(191, 235, 71);
transition: 0.5s;
cursor: pointer;
transform: scale(0.9);
}
.board{
    background-color: antiquewhite;
    margin: 15px auto;
    height:fit-content;
    width: fit-content;
    box-shadow: 0 0 10px 5px rgba(223, 146, 146, 0.5);
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.title{
 text-align: center;
 font-size: 1.5em;
 margin: 20px 0;
 font-family: 'Arial', sans-serif;
 color: #333;
}
body{
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;}
    button{
        display: block;
        background-color: #333;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px; 
        text-align: center;
        margin: 0 auto;
    }